<?xml version="1.0" encoding="UTF-8"?>
<div xmlns="http://www.w3.org/1999/xhtml" class="templates:surround?with=templates/page.html&amp;at=content">
    <div class="row-fluid">
        <div id="contentMain" class="span6 offset3">
            <!--<div class="span3">
                <div class="alert alert-success">
                    <table>
                        <tr>
                            <th>Kustos der Papyrus-Sammlung:</th>
                            <td>
                                <a href="mailto:ala42@uni-koeln.de">Dr. Robert Daniel</a>
                            </td>
                        </tr>
                        <tr>
                            <th>Mitarbeiter:</th>
                            <td>
                                <a href="mailto:Klaus.Maresch@uni-koeln.de">Dr. habil. Klaus Maresch</a>
                                <br/>
                                <a href="mailto:john.lundon@uni-koeln.de">Dr. John Lundon</a>
                                <br/>
                                <a href="mailto:charikleia.armoni@uni-koeln.de">Dr. Charikleia Armoni</a>
                            </td>
                        </tr>
                        <tr>
                            <th>Stipendiat:</th>
                            <td>
                                <a href="mailto:philip.schmitz@uni-koeln.de">Philip Schmitz</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </d